body{
    background-color: darkslateblue;
}

.whiteBox{
    height: 260px;
    width: 260px;
    background-color: pink;
    display: inline-block;
    border: 3px solid blue;
}

.imgBox{
    background-image: url("./logo.png");
    background-repeat: no-repeat ;
    position: relative;
    top: 15px;
    left: 15px;
    height: 260px;
    width: 260px;
    cursor: pointer;
}

.hold{
    border: solid red 4px;
}

.hide{
    display: none;
}


